<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Popularity of Angular cli</h1>
          <h2>Hello Parameter {{param}}</h2>
          <h2>course {{queryParam}}</h2>
          <div class="h-1 w-20 bg-yellow-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">
          Angular is a JavaScript-based framework for developing online, desktop, and mobile apps.
           Created back in 2009 by Google, it is entirely written in Typescript, which Microsoft developed. 
          Angular ranked the third most popular web framework in 2021. As of now, it is chosen by 26.2% of professionals.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <figure class="relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
              <a href="#">
                <img class="rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/content-gallery-3.png" alt="image description">
              </a>
              <figcaption class="absolute px-4 text-lg text-white bottom-6">
                  <p>Do you want to get started?</p>
              </figcaption>
            </figure>
            <h2 class="text-lg text-white font-medium title-font mb-4">Why Angular cli?</h2>
            <p class="leading-relaxed text-base"> Developers use Angular, a popular JavaScript-based web development framework, to construct online apps. Angular has capabilities such as HTTP service, materials, and animations that allow developers to design major apps while saving time writing long code.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/721x401" alt="content">
            <h2 class="text-lg text-white font-medium title-font mb-4">Why Learn Angular cli?</h2>
            <p class="leading-relaxed text-base">Angular prioritizes the developer experience. JavaScript is notorious for introducing some of the strangest behavior known to developers. Angular includes complete TypeScript support to ease difficulties, which gives type safety in our apps</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/722x402" alt="content">
            <h2 class="text-lg text-white font-medium title-font mb-4">What's new in angular?</h2>
            <p class="leading-relaxed text-base">In recent releases, Angular, the popular JavaScript framework for developing web apps, has seen substantial enhancements and additions. The Angular team adds new features and changes with each release that increase developer productivity, improve performance, and provide a more complete development experience. Angular has recently released version 16 with many new features and enhancements to improve web app speed. Let’s check them out</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/723x403" alt="content">
            <h2 class="text-lg text-white font-medium title-font mb-4">ready to begin coding with angular?</h2>
            <p class="leading-relaxed text-base">There are several reasons why Angular is so popular. This framework is also incredibly reliable and simple for someone with a solid background. Furthermore, developers appreciate the UI templates' clear and strong syntax. It gives online projects a sleek and stunning appearance.</p>
          </div>
        </div>
      </div>
    </div>
  </section>